<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @animal.size %>
</p>

<p>
  <strong>Region:</strong>
  <%= @animal.region %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
