<h1>Welcome to RetFlix! See our collection of movies below! </h1>

<%= form_tag movie_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>


<!-- <p>Find me in app/views/movies/index.html.erb</p>
<table id="Movies_Table" border="1">
<tr>
	<td>Title:</td>
	<td>Description:</td>
	<td>Year Released:</td>
<% @movies.each do |movie| %>
<tr>
	<td><%= movie.title %></td> 
	<td><%= movie.description %></td>
	<td><%= movie.year_released %></td>
</tr>
<% end %>
</table> -->
